@keyframes customBounce {
    0%, 100% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(5px);
    }
}

.animate-custom-bounce {
    animation: customBounce 1.2s infinite cubic-bezier(0.28, 0.84, 0.42, 1);
}
